.tf-career-details{
  font-family: "Source Sans Pro";
  font-size: 18px;
  line-height: 1.5;
  margin: 20px;
}
.tf-career-details .tf-invisible{
  visibility: hidden;
}
.tf-career-details.ie{
  font-family: arial;
}
.tf-career-details a{
  color: black;
  text-decoration: underline;
}
.tf-career-details div, .tf-career-details img{
  box-sizing: content-box;
}
.tf-career-details .tf-career-details-inner{
  max-width: 800px;
  margin: 0px auto;
}
.tf-popout-open {
  overflow: hidden;
}
.tf-popout-open body {
  overflow: hidden;
}
.tf-popout-career {
  position: fixed;
  overflow-y: scroll;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.5);
}
.tf-popout-career .tf-career-details-inner {
  background-color: white;
}

.tf-career-details .tf-header-inner{
  color: white;
  padding: 10px 25px;
  background-color: #058fc4;
}
.tf-career-details .tf-header-close{
  float: right;
  cursor: pointer;
}
.tf-career-details .tf-career-details-body{
  padding: 20px;
}
.tf-career-details .tf-image{
  width: 25%;
  display: inline-block;
}
.tf-career-details .tf-details{
  position: relative;
  width: 75%;
  padding: 0 20px;
  display: inline-block;
  box-sizing: border-box;
  vertical-align: top;
}
@media (max-width: 768px) {
  .tf-career-details .tf-details{
    margin-top: 10px;
  }
}
.tf-career-details .tf-details .tf-title{
  font-family: "Adelle Sans Bold";
  display: inline-block;
  padding-right: 50px;
}
.tf-career-details .tf-details .tf-score{
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
  margin-top: -13px;
  text-align: center;
  font-size: 12px;
  line-height: 1;
  background-color: #e2e2e2;
}
.tf-career-details .tf-details .tf-score .tf-percent{
  font-size: 18px;
}
.tf-career-details .tf-details .tf-score span{
  display: block;
}
.tf-career-details .tf-stats,
.tf-career-details .tf-experience,
.tf-career-details .tf-education,
.tf-career-details .tf-majors{
  margin: 20px 0;
  border: 2px solid #e2e2e2;
}
.tf-career-details .tf-majors{
  margin-bottom: 0;
}
.tf-career-details .tf-stats .tf-stat {
  width: 50%;
  display: inline-block;
  box-sizing: border-box;
}
@media (max-width: 768px) {
  .tf-career-details .tf-stats .tf-stat {
    width: 100%;
  }
}
.tf-career-details .tf-stats .tf-stat-title {
  width: 40%;
  float: left;
  text-align: right;
  font-family: "Adelle Sans Bold";
  font-weight: bold;
  box-sizing: border-box;
}
.tf-career-details .tf-stats .tf-stat-data {
  width: 60%;
  float: left;
  text-align: right;
  display: inline-block;
  box-sizing: border-box;
}
.tf-career-details .tf-stats .tf-stat-data-header,
.tf-career-details .tf-stats .tf-stat-data-body {
  width: 50%;
  float: left;
  text-align: center;
}
.tf-career-details .tf-stats .tf-stat-data-body {
  text-align: right;
}
.tf-career-details .tf-stats .tf-stat-data-mean,
.tf-career-details .tf-stats .tf-stat-data-median {
  width: 50%;
  display: inline-block;
}
.tf-career-details .tf-stats img {
  height: 23px;
}
.tf-career-details .tf-stats,
.tf-career-details .tf-experience-header,
.tf-career-details .tf-education-header,
.tf-career-details .tf-majors-header{
  padding: 10px 20px;
  border-bottom: 2px solid #e2e2e2;
}
.tf-career-details .tf-experience-body,
.tf-career-details .tf-education-body,
.tf-career-details .tf-majors-body{
  padding: 10px 20px;
}
.tf-career-details .tf-experience-boxes{
  padding: 0px 10px;
  display: inline-block;
}
.tf-career-details .tf-experience-box{
  background-color: #e2e2e2;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  display: inline-block;
}
.tf-career-details .tf-experience-box.tf-highlighted-box{
  background-color: #058fc4;
}
.tf-career-details .tf-education-title,
.tf-career-details .tf-major-title{
  font-family: "Adelle Sans Bold";
}
.tf-career-details .tf-major-description{
  padding-bottom: 10px;
}

@media (max-width: 768px) {
  .tf-career-details .tf-image,
  .tf-career-details .tf-details{
    width: 100%;
    padding: 0;
  }
}
