@font-face {
  font-family: 'proxima_nova_light';
  font-style: normal;
  font-weight: 100;
  src: local('proxima_nova_light'), local('proxima_nova_light'), url("https://s3.amazonaws.com/traitify-cdn/assets/fonts/proxima_nova_light.woff") format('woff');
}