.tf-careers{
  font-family: "Source Sans Pro";
  font-size: 24px;
  line-height: 1.5;
  margin: 20px;
  text-align: center;
}
.tf-careers.ie{
  font-family: arial;
}
.tf-careers div, .tf-careers img{
  box-sizing: content-box;
}
.tf-careers .careers{
  max-width: 800px;
  margin: 0px auto;
}
.tf-careers .column{
  width: 180px;
  margin: 0 5px;
  display: inline-block;
  vertical-align: top;
}
.tf-careers .career{
  border: 2px solid;
  border-color: #e2e2e2;
  display: inline-block;
  width: 100%;
  margin: 5px 0;
  vertical-align: top;
  background-color: #fff;
  position: relative;
  line-height: 1.2em;
  font-size: 14px;
  text-align: left;
}
.tf-careers .career hr{
  border: none;
  border-top: 2px solid;
  border-color: #e2e2e2;
  margin: 10px 0 5px 0;
}
@media (max-width: 768px) {
  .tf-careers .column{
    width: 100%;
  }
}
.tf-careers .career .image{
  width: 100%;
  top: 10px;
  margin: 0px auto;
}
.tf-careers .career .title{
  font-family: "Adelle Sans Bold";
  margin: 10px;
  margin-bottom: 0px;
  font-weight: 600;
}
.tf-careers .career .description{
  margin-top: 5px;
  font-weight: 400;
}
.tf-careers .career .description,
.tf-careers .career .experience,
.tf-careers .career .experience-boxes,
.tf-careers .career .education{
  padding: 0px 10px 5px;
}

.tf-careers .career .experience{
  display: inline-block;
}
.tf-careers .career .score{
  float: right;
  text-align: center;
  margin-top: -5px;
  padding: 5px;
  background-color: #e2e2e2;
}
.tf-careers .career .score .percent{
  font-size: 18px;
}
.tf-careers .career .score span{
  display: block;
}
.tf-careers .career .experience-box{
  background-color: #e2e2e2;
  width: 10px;
  height: 10px;
  margin-right: 2px;
  display: inline-block;
}
.tf-careers .career .experience-box.highlighted-box{
  background-color: #058fc4;
}
.tf-careers .career .education{
  margin-bottom: 10px;
}
.tf-careers .career .education-text{
  margin-top: 5px;
  font-family: "Adelle Sans Bold";
  font-weight: bold;
  font-size: 12px;
}
.tf-careers .career .fade{
  position: relative;
  height: 4.2em;
  overflow: hidden;
}
.tf-careers .career .fade:after {
  content: "";
  text-align: right;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 70%;
  height: 1.2em;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1) 70%);
}

.tf-careers .career.show-details:hover {
  cursor: pointer;
}
