@font-face {
  font-family: 'Helvetica Neue';
  font-style: normal;
  font-weight: 100;
  src: local('Helvetica Neue'), local('Helvetica Neue'), url("https://s3.amazonaws.com/traitify-cdn/assets/fonts/helvetica_neue.woff") format('woff');
}
.tf-results-prop{
	font-family: "Helvetica Neue";
	display:block;
	-webkit-font-smoothing: antialised;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	letter-spacing: .1em;
	font-weight:100;
	max-width:700px;
	margin: 0px auto;
}
.tf-results-prop .personality-type{
	display:inline-block;
	width:100%;
	text-align:center;
	position:relative;
}
.tf-results-prop .bar-left, .tf-results-prop .bar-right{
	display:inline-block;
	height:1em;
	background-color:#e0e0e0;
	width:43.4%;
	margin-top:1em;
    box-shadow:.1em .1em .2em .01em #ccc inset;
    overflow: hidden;
    position:relative;
    vertical-align: middle
}
.tf-results-prop .bar-left{
	display:inline-block;
    border-radius:.3em 0em 0em .3em;
}

.tf-results-prop .bar-right{
	display:inline-block;
    border-radius: 0em .3em .3em 0em;
}
.tf-results-prop .bar-inner-left{
	background-color:#cb4e4e;
	height:1em;
	float:right;
}
.tf-results-prop .bar-inner-right{
	background-color:#058fc4;
	height:1em;
	float:left;
}
.tf-results-prop .badge{
	display:inline-block;
	width:15%;
	margin:0px auto;
	border-radius:50%;
	border:3px solid #fff;
	background-color:#fff;
	z-index:2;
	margin-right:-2%;
	margin-left:-2%;
	position:relative;
	vertical-align: middle;
}
.tf-results-prop .badge img{
	width:100%;
}
.tf-results-prop .name{
	text-align:left;
}
.tf-results-prop .score{
	text-align:right;
	float:right;
}
.tf-results-prop .name-and-score{
	position:absolute;
	width:100%;
	margin-top:2%;
}
.tf-results-prop .name, .tf-results-prop .score{
	display:inline-block;
	width:50%;
}
.tf-results-prop .tools{
	clear:both;
	width:100%;
}
.tf-results-prop .tools .print-button{
	display:inline-block;
	width:48%;
	cursor:pointer;
	padding:10px 1%;
}
.tf-results-prop .tools .toggle-traits{
	display:inline-block;
	cursor:pointer;
	width:48%;
	text-align:right;
	padding:10px 1%;
}
.tf-results-prop .personality-traits {
	overflow-y:auto;
	overflow-x:hidden;
}
.tf-results-prop .personality-traits .personality-trait{
	margin-bottom:.5em;
}
.tf-results-prop .personality-traits .personality-trait .left-name{
	width:50%;
	display:inline-block;
	text-align:left;
}
.tf-results-prop .personality-traits .personality-trait .right-name{
	width:50%;
	display:inline-block;
	text-align:right;
}
.tf-results-prop .personality-traits .personality-trait .score-container{
	display:block;
	margin:0px 10px;
	height:10px;
	position:relative;
}
.tf-results-prop .personality-traits .personality-trait .score-container .line{
	width:100%;
	top:5px;
	height:1px;
	background-color:#ccc;
	position:absolute;
}
.tf-results-prop .personality-traits .personality-trait .score-wrapper{
	width:50%;
	height:10px;
	margin-left:49%;
	position:relative;
}
.tf-results-prop .personality-traits .personality-trait .score{
	position:absolute;
	width:10px;
	height:10px;
	border-radius:50%;
	background-color:#000;
	z-index:1;
}