@font-face {
  font-family: 'proxima_nova';
  font-style: normal;
  font-weight: 100;
  src: local('proxima_nova'), local('proxima_nova'), url("https://s3.amazonaws.com/traitify-cdn/assets/fonts/proxima_nova.woff") format('woff');
}
.tf-slide-deck-container{
  margin:0px auto;
  max-width:1200px;
	font-family: "proxima_nova";
	overflow: hidden;
	color: #fff;
	width: 100%;
	position: relative;
	letter-spacing: .1em;
	font-size: 22px;
	-webkit-font-smoothing: antialised;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.tf-slide-deck-container .slides {
  position:relative;
}
.tf-slide-deck-container .slide .image{
  height:400px;
  background-size: cover;
}
.tf-slide-deck-container .slides .loading{
	color:#000;
	text-align:center;
	position:absolute;
	width:100%;
	top:40%;
}
.tf-slide-deck-container .slides .loading .left-dot{
	background-color:#000;
	width:20px;
	height:20px;
}
.tf-slide-deck-container .slides .loading .right-dot{
	background-color:#000;
	width:20px;
	height:20px;
}
.tf-slide-deck-container .slides .slide{
	padding: 0px;
	margin: 0px;
	box-sizing: initial;
	-webkit-transition: left .3s linear;
  -moz-transition: left .3s linear;
  -o-transition: left .3s linear;
  transition: left .3s linear;
  position: absolute;
	left: 100%;
	top: 0px;
	width: 100%;
}
.tf-slide-deck-container .slides .slide img{
	width: 100%;
}
.tf-slide-deck-container .slides .slide.active{
	left: 0%
}
.tf-slide-deck-container .slides .slide.played{
	left: -100%;
}
.tf-slide-deck-container .slides .slide img{
	width: 100%;
}
.tf-slide-deck-container .slides .slide.placeholder{
	position:relative;
}
.tf-slide-deck-container .me-not-me-container.hide{
	margin-left:100%;
	opacity:0;
	visibility:hidden;
}
.tf-slide-deck-container .me-not-me-container{
  position:absolute;
  z-index:1;
  width:100%;
  bottom:0px;
  font-size:16px;
  letter-spacing:-1px;
}

.tf-slide-deck-container .me, .tf-slide-deck-container .not-me{
	text-align: center;
	padding: .5em 0em;
	cursor: pointer;
  margin-bottom:18px;
}
.tf-slide-deck-container .me{
	background-color:rgba(5, 143, 196, .75); 
	position: relative;
	width: 30%;
  margin-left:20%;
	display: inline-block;
  border-radius:6px 0px 0px 6px;
}
.tf-slide-deck-container .not-me{
	position: relative;
	width: 30%;
  margin-right:20%;
	display: inline-block;
	background-color:rgba(203, 78, 78, .75);
  border-radius:0px 6px 6px 0px;
}
.tf-slide-deck-container .caption{
  padding:15px 0px 10px 0px;
  text-align:center;
  font-size:28px;
  text-shadow: 0px 0px 3px #000;
  position:absolute;
  width:100%;
}
.tf-slide-deck-container .progress-bar{
  height:10px;
  display:block;
  background-color:rgba(255, 255, 255, .5);
  position:absolute;
  z-index:1;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  transition: none;
}
.tf-slide-deck-container .progress-bar .progress-bar-inner{
  width:0%;
  height:10px;
  background-color:#fff;
  position:absolute;
  -webkit-animation-delay: 2s; /* Safari and Chrome */
  animation-delay: 2s;
  -webkit-transition: width .3s linear;
  -moz-transition: width .3s linear;
  -o-transition: width .3s linear;
  transition: width .3s linear;
  border-radius: 0px 5px 5px 0px;
}
@media only screen and (min-width:760px){
  .tf-slide-deck-container .slide .image{
    height:570px;
  }
  .tf-slide-deck-container .me-not-me-container{
    font-size:20px;
  }
  .tf-slide-deck-container .slide .caption{
    font-size:34px;
  }
}


.loading .symbol{
  width: 30px;
  height: 30px;
  margin:0px auto;
}
.loading .symbol i{
  margin-left: -15px;
  width: 30px;
  height: 30px;
  display: inline-block;
  background: #cb4e4e;
  border-radius: 50%;
  position: absolute;
}
.loading .symbol i:nth-child(1){
  -webkit-transform:translate(-50px,0);
  -webkit-animation:loading-ani1 1s linear infinite;

}
.loading .symbol i:nth-child(2){
  background: #058fc4;
  -webkit-transform:translate(50px,0);
  -webkit-animation:loading-ani2 1s linear infinite;
}
@-webkit-keyframes loading-ani1{
  25%{
    z-index: 2;
  }
  50%{
    -webkit-transform:translate(50px,0) scale(1);
  }
  75%{
    -webkit-transform:translate(0,0) scale(0.75);
  }
  100%{
    -webkit-transform:translate(-50px,0) scale(1);

  }
}
@-webkit-keyframes loading-ani2{
  25%{
    -webkit-transform:translate(0,0) scale(0.75);
  }
  50%{
    -webkit-transform:translate(-50px,0) scale(1);
  }
  75%{
    z-index: 2;
  }
  100%{
   	-webkit-transform:translate(50px,0) scale(1);
  }
}
.small.tf-slide-deck-container .me-not-me-container{
  font-size:13px;
}
.small.tf-slide-deck-container .slide .caption{
  font-size:18px;
}
.medium.tf-slide-deck-container .slide .caption{
  font-size:24px;
}
.medium.tf-slide-deck-container .me-not-me-container{
  font-size:15px;
}
.mobile.tf-slide-deck-container .slide{
  height:100%;
}
.mobile.tf-slide-deck-container .slide .image{
  height:100%;
}

/***************************
 * MOBILE iPhone
 ***************************/
.iphone.tf-slide-deck-container .progress-bar{
  background-color:rgba(255,255,255, .5);
  position:absolute;
  z-index:2;
  border:0px;
  height:10px;
}
.iphone.tf-slide-deck-container .progress-bar-inner{
  border-radius: 0px 5px 5px 0px;
  height:10px;
}
.iphone.tf-slide-deck-container .slide.placeholder .caption{
  z-index:-1;
}
.iphone.tf-slide-deck-container .caption{
  font-size:20px;
  background-color:transparent;
  position:relative;
  width:100%;
  padding-top:20px;
}
.iphone.tf-slide-deck-container .slide, .ipad.tf-slide-deck-container .slide{
  padding: 0px;
  margin: 0px;
  -webkit-transition: width .4s linear;
  -moz-transition: width .4s linear;
  -o-transition: width .4s linear;
  transition: width .4s linear;
  position: absolute;
  right:0%;
  top: 0px;
  width: 0%;
  left:auto;
}
.iphone.tf-slide-deck-container .slides .slide.played, .ipad.tf-slide-deck-container .slides .slide.played{
  right:auto;
  left:0%;
  width: 0%;
  left:auto;
}
.iphone.tf-slide-deck-container .slides .slide.active, .ipad.tf-slide-deck-container .slides .slide.active{
  right:0%;
  width: 100%;
  left:auto;
}
.iphone.tf-slide-deck-container .slides .slide.active .caption, .ipad.tf-slide-deck-container .slides .slide.active .caption{
  z-index:2;
}
.iphone.tf-slide-deck-container .slides .slide.played .caption, .ipad.tf-slide-deck-container .slides .slide.played .caption{
  z-index:auto;
}
.iphone.tf-slide-deck-container .slide .image{
  height:440px
}
.iphone.tf-slide-deck-container .me-not-me-container{
  font-size:17px;
  position:absolute;
  height:100%;
  top:0px;
  width:100%;
  overflow:hidden;
  font-size:40px;
}
.iphone.tf-slide-deck-container .me-not-me-container .me, .iphone.tf-slide-deck-container .me-not-me-container .not-me{
  height: 440px;
  line-height:435px;
  position:relative;
}
.iphone.tf-slide-deck-container .me-not-me-container .not-me{
  background-color:rgba(203, 78, 78, .35);
  border-radius:0px;
  width:50%;
  margin:0px;
}
.iphone.tf-slide-deck-container .me-not-me-container .me{
  background-color:rgba(5, 143, 196, .35); 
  border-radius:0px;
  width:50%;
  margin:0px;
}
@media screen and (device-width:320px) and (orientation:landscape) {
  .iphone.tf-slide-deck-container .caption{
    font-size:16px;
  }
  .iphone.tf-slide-deck-container .slide .image{
    height:160px;
  }
  .iphone.tf-slide-deck-container .me-not-me-container .me, .iphone.tf-slide-deck-container .me-not-me-container .not-me{
    height: 160px;
    line-height:160px;
  }
  .iphone.tf-slide-deck-container .progress-bar{
    background-color:rgba(255,255,255, .5);
    position:absolute;
    z-index:2;
    border:0px;
    height:8px;
  }
  .iphone.tf-slide-deck-container .progress-bar-inner{
    border-radius: 0px 4px 4px 0px;
    height:8px;
  }
  .iphone.tf-slide-deck-container .me-not-me-container{
      font-size:40px;
  }
}
.non-touch.iphone.tf-slide-deck-container .me-not-me-container{
  border-radius:10px;
  overflow:hidden;
  height:50px;
  padding:0px;
  margin: 0px 10%;
  width:80%;
  bottom:10px;
  top:auto;
}

.non-touch.iphone.tf-slide-deck-container .me-not-me-container .me, .non-touch.iphone.tf-slide-deck-container .me-not-me-container .not-me{
  width:50%;
  font-size:22px;
  height:50px;
  line-height:50px;
  padding:0px;
}

.non-touch.iphone.tf-slide-deck-container .me-not-me-container .not-me{
  background-color:rgba(203, 78, 78, .8);
}
.non-touch.iphone.tf-slide-deck-container .me-not-me-container .me{
  background-color:rgba(5, 143, 196, .8); 
}
@media screen and (orientation:landscape) {
  .non-touch.iphone.tf-slide-deck-container .me-not-me-container{
    height:25px;
  }
  .non-touch.iphone.tf-slide-deck-container .me-not-me-container .me, .non-touch.iphone.tf-slide-deck-container .me-not-me-container .not-me{
    font-size:12px;
    height:25px;
    line-height:25px;
  }
}
/**********************
 * iPad
 **********************/
  .ipad.tf-slide-deck-container .image{
    height:910px;
  }
  .ipad.tf-slide-deck-container .me-not-me-container{
    top:450px;
    font-size:30px;
  }
  .ipad.tf-slide-deck-container .me-not-me-container .me{
    border-radius: 0px 50% 50% 0px;
    width:100px;
    padding:60px 35px;
    margin-left:-70px;
    text-align:right;
  }
  .ipad.tf-slide-deck-container .me-not-me-container .not-me{
    border-radius: 50% 0px 0px 50%;
    width:100px;
    padding:60px 35px;
    margin-right:-70px;
    text-align:left;
    display:block;
    float:right;
  }
  .ipad.tf-slide-deck-container .me-not-me-container .not-me div, .ipad.tf-slide-deck-container .me-not-me-container .me div{
    line-height:1em;
    width:30px;
    display:inline-block;
    height:2em;
    margin:0px 5px;
  }
  .ipad.tf-slide-deck-container .me-not-me-container .me div{
    line-height:2em;
  }
  @media screen and (orientation:landscape) {
    .ipad.tf-slide-deck-container .image{
      height:480px;
    }
    .ipad.tf-slide-deck-container .me-not-me-container{
      top:190px;
    }
    .ipad.tf-slide-deck-container .me-not-me-container{
      font-size:18px;
    }
    .ipad.tf-slide-deck-container .me-not-me-container .not-me{
      padding:45px 15px;
    }
    .ipad.tf-slide-deck-container .me-not-me-container .me{
      padding:45px 15px;
    }
  }
