.tf-results{
  font-family: "Source Sans Pro";
  padding: 24px;
}
.tf-results .personality-blend{
  text-align: center;
}
.tf-results .personality-blend .badges-container{
  max-width: 500px;
  width:100%;
  margin: 0px auto;
}
.tf-results .personality-blend .badges-container .left-badge{
  width: 30%;
  padding:10%;
  z-index: 1;
  position: relative;
  border-radius: 50%;
  border: 2px solid;
  display: inline-block;
  background-color: rgba(255,255,255, .5);
}
.tf-results .personality-blend .badges-container .left-badge img{
  width: 100%;
}
.tf-results .personality-blend .badges-container .right-badge{
  width: 30%;
  padding:10%;
  position: relative;
  border-radius: 50%;
  border: 2px solid;
  margin-left: -30px;
  display: inline-block;
}
.tf-results .personality-blend .badges-container .right-badge img{
  width: 100%;
}
.tf-results .personality-blend .name{
  font-size: 24px;
  margin: 12px 0px;
}
.tf-results .personality-blend .blend-description{
  width: 100%;
  margin: 0px auto;
  position: relative;
  text-align: left;
}