.tf-results{
  font-family: proxima_nova_light;
  padding: 24px;
}
.tf-results .personality-blend{
  text-align:center;
}
.tf-results .personality-blend .badges-container{
  max-width:500px;
  margin:0px auto;
}
.tf-results .personality-blend .badges-container .left-badge{
  width:160px;
  height:160px;
  z-index:1;
  position:relative;
  background-size: 100px 100px;
  border-radius:50%;
  border: 2px solid;
  background-repeat:no-repeat;
  background-position:center; 
  display:inline-block;
  background-color:rgba(255,255,255, .5);
}
.tf-results .personality-blend .badges-container .right-badge{
  width:160px;
  height:160px;
  position:relative;
  background-size: 100px 100px;
  border-radius:50%;
  border: 2px solid;
  background-repeat:no-repeat;
  background-position:center; 
  margin-left:-30px;
  display:inline-block;
}
.tf-results .personality-blend .name{
  font-size:24px;
  margin: 12px 0px;
}
.tf-results .personality-blend .blend-description{
  width:100%;
  margin:0px auto;
  position:relative;
  text-align:left;
}